@model EventVM
@{
    ViewData["Title"] = "Event Detail";
    string url = "/Event/";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner", new { word = "event / details" })
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="~/img/event/@Model.EventSimple.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.EventSimple.StartingTime.Day <span>@Model.EventSimple.StartingTime.ToString("MMM")</span></h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.EventSimple.Title</h2>
                        <ul>
                            <li><span>time : </span>@Model.EventSimple.StartingTime.ToString("hh.mm tt") - @Model.EventSimple.EndingTime.ToString("hh.mm tt")</li>
                            <li><span>venue : </span>@Model.EventSimple.Location</li>
                        </ul>
                        @Html.Raw(Model.EventSimple.EventDetail.AboutContent)
                        <div class="speakers-area fix">
                            <h4>speakers</h4>
                            @await Component.InvokeAsync("Speaker")
                        </div>
                    </div>
                    <partial name="_CommentSectionPartial" for="@url" />
                    <div class="col-md-12">
                        <hr />
                        <div class="message-field">
                            @if (Model.Comments.Count() != 0)
                            {
                                @foreach (Comment c in Model.Comments)
                                {
                                    <partial name="_CommentPartial" for="@c" />
                                }
                            }
                        </div>
                        <input type="hidden" id="db-id" value="@Model.EventSimple.Id" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @await Component.InvokeAsync("Sidebar", new { location = "Event" })
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->
