
@{
    Layout = null;
}


<div class="row">
    <div class="col-xs-12 text-center">
        <div class="pagination">
            <ul>
                @for (int i = 1; i <= Model; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li><a asp-controller="@ViewBag.Location" asp-action="Index" asp-route-page="@i" asp-route-take="@ViewBag.Take" class="btn-active" id="@i">@i</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="@ViewBag.Location" asp-action="Index" asp-route-page="@i" asp-route-take="@ViewBag.Take" id="@i">@i</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
