@model HomeVM
@{
    ViewData["Title"] = "Eduhome - Educational HTML Template";
    int EventLoopCount = 0;
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (Slider slider in Model.HomeSliders)
        {
            <div class="single-slide item" style="background-image: url(img/slider/@slider.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@slider.Title </h2>
                                        <p>@slider.Description</p>
                                        <a class="default-btn"asp-controller="About" asp-action="Index">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }
        <!-- End Slingle Slide -->
    </div>
</section>
<!-- Background Area End -->
<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (TeacherSimple t in Model.TeacherSimples)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <h3><a style="text-transform:capitalize" asp-controller="Teacher" asp-action="Detail" asp-route-id="@t.Id">@t.Fullname</a></h3>
                        <p>@((t.TeacherDetail.AboutContent.Length < 88)? t.TeacherDetail.AboutContent : t.TeacherDetail.AboutContent.Substring(0,88) + "...")</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
@await Component.InvokeAsync("AboutArea")
<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("SectionTitle", new { section = 4 })
        </div>
        <div class="row">
            @await Component.InvokeAsync("Course", new { location = "Home" })
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@await Component.InvokeAsync("NoticeArea")
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("SectionTitle", new { section = 5 })
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @foreach (EventSimple e in Model.EventSimples)
                {
                    if (EventLoopCount % 2 == 0 && EventLoopCount != 0)
                    {
                        @Html.Raw("</div><div class='col-md-6 col-sm-12 col-xs-12'>");
                    }
                    <div class="single-event mb-35">
                        <div style="width:217px" class="event-img">
                            <a asp-controller="Event" asp-action="Detail" asp-route-id="@e.Id"><img class="img-fluid" src="img/event/@e.Image" alt="event"></a>
                        </div>
                        <div class="event-content text-left">
                            <h3>@e.StartingTime.ToString("d MMMM yyyy")</h3>
                            <h4><a asp-controller="Event" asp-action="Detail" asp-route-id="@e.Id">@e.Title</a></h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>@e.StartingTime.ToString("hh:mm tt") - @e.EndingTime.ToString("hh:mm tt")</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="Detail" asp-route-id="@e.Id">join now</a>
                            </div>
                        </div>
                    </div>
                    EventLoopCount++;
                }
            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("TestimonialArea")
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("SectionTitle", new { section = 6 })
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog", new { take = 3})
        </div>
    </div>
</div>
<!-- Blog Area End -->
