@model Speaker
@{
    ViewData["Title"] = "Update Speaker";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="single-speaker">
                <div style="width:95px;" class="speaker-img">
                    <img class="img-fluid" src="/img/event/@Model.Image" alt="speaker">
                </div>
                <div class="speaker-name">
                    <h5>@Model.Name</h5>
                    <p>@Model.Profession.Name</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <label asp-for="Photo" class="form-label">Select Image</label>
                                    <input asp-for="Photo" class="form-control" accept="image/*" type="file">
                                    <span class="text-danger" asp-validation-for="Photo"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Name" class="form-label">Name</label>
                                    <input asp-for="Name" class="form-control" placeholder="Name">
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Profession">Profession</label>
                                    <select asp-for="Profession" class="form-control">
                                        @foreach (Profession c in ViewBag.Profession)
                                        {
                                            if (c.Id == Model.ProfessionId)
                                            {
                                                <option selected value="@c.Id">@c.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@c.Id">@c.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a asp-area="Admin" asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}