@model List<BlogSimple>


@foreach (BlogSimple blog in Model)
{
    <div class="col-md-@(ViewBag.Col) col-sm-6 col-xs-12">
        <div class="single-blog">
            <div class="blog-img">
                <a asp-controller="Blog" asp-action="Detail"><img src="img/blog/@blog.Image" alt="blog"></a>
                <div class="blog-hover">
                    <a asp-controller="Blog" asp-action="Detail"><i class="fa fa-link"></i></a>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-top">
                    <p>By @blog.Author  /  @blog.CreateTime.Day, @blog.CreateTime.ToString("MMMM") @blog.CreateTime.Year /  <i class='fa fa-comments-o'></i> 4</p>
                </div>
                <div class="blog-bottom">
                    <h2><a href="blog-details.html">@blog.Title</a></h2>
                    <a asp-controller="Blog" asp-action="Detail">read more</a>
                </div>
            </div>
        </div>
    </div>
}
