@model List<TeacherSimple>
@{
    ViewData["Title"] = "Teacher Simple";
    int count = 1;
    string url = "Teacher";
}
<div class="modal-box">
    <div class="inner-box col-4">
        <div class="modal-img-box">
            <img class=" img-fluid inner-img" src="" />
        </div>
        <div class="modal-body text-uppercase"></div>
        <div class="modal-btn">
            <button class="m-2 btn btn-md btn-danger modal-delete">Delete</button>
            <button class="m-2 btn btn-md btn-primary modal-back">Go Back</button>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr class="text-right">
                <th scope="col"><a class="btn btn-md btn-success" asp-controller="Teacher" asp-action="Create">Create</a></th>
            </tr>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Fullname</th>
                <th scope="col">For About Page</th>
                <th scope="col">Profession</th>
                <th scope="col">Social Media</th>
                <th scope="col">Settings</th>
            </tr>
        </thead>
        <tbody class="body">
            @foreach (TeacherSimple e in Model)
            {
                <tr class="text-center">
                    <td>@count</td>
                    <td class="td-img"><img src="~/img/teacher/@e.Image" alt="Alternate Text" /></td>
                    <td>@e.Fullname</td>
                    <td>@e.IsSimple</td>
                    <td>@e.Profession.Name</td>
                    <td>
                        <ul>
                            @foreach (SocialMedia s in e.SocialMedias)
                            {
                                <li><a href="@s.Link">@Html.Raw(s.Icon)</a></li>
                            }
                        </ul>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-secondary" asp-controller="Teacher" asp-action="Detail" asp-route-id="@e.Id">Detail</a>
                        <a class="btn btn-sm btn-primary" asp-controller="Teacher" asp-action="Update" asp-route-id="@e.Id">Update</a>
                        <button data-delete="@e.Id" data-url="@url" class="btn btn-sm btn-danger delete">Delete</button>
                    </td>
                </tr>
                count++;
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <div class="col-12 text-center btn-holder">
                        <input type="hidden" id="count" value="@ViewBag.Count" />
                        <button data-set="@url" class="btn btn-success btn-lg my-5 amkButtonu">Load More</button>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <input type="hidden" id="count" value="@Model.Count()" />
</div>

